<!doctype html>
<html>

<head>
  <title>{{ template "title" . }}</title>
  <link rel="stylesheet" type="text/css" href="/static/gameprompt.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta name="author" content="Sebastian Weigand">
  <meta name="copyright" content="2023, Google">
</head>

<body>
  <header>
    <h1><a href="/">GamePrompt</a></h1>
    <nav>
      <ul>
        <li><a href="/"><span class="material-symbols-outlined">home</span> Home</a></li>
        <li><a href="/character"><span class="material-symbols-outlined">person_add</span> Character Creator</a></li>
        <li><span class="material-symbols-outlined">monitoring</span> Operations Center</li>
      </ul>
    </nav>
  </header>
  <main>
    {{ template "main" . }}
  </main>
  <footer>
    <p>&copy; 2023 Google, LLC</p>
  </footer>
</body>

</html>