{{define "title"}}Editing: {{.Name}} | GamePrompt Character{{end}}
{{define "main"}}
    <form id="CharacterEdit" action="/character/{{.Name}}" method="POST">
      <div class="character">
        <h2><span class="material-symbols-outlined">smart_toy</span> <input type="text" name="Name" value="{{.Name}}"></h2>
        <input type="text" name="Version" class="character-version" value="{{.Version}}">

        <h3>Prompt Prefix</h3>
        <textarea name="PromptPrefix">{{.PromptPrefix}}</textarea>
        
        <h3>Prompt Suffix</h3>
        <textarea name="PromptSuffix">{{.PromptSuffix}}</textarea>
        
        <h3>Loading Phrases</h3>
        <p>Add one per line:</p>
        <textarea name="LoadingPhrases">{{range .LoadingPhrases}}{{.}}{{end}}</textarea>
        
        <h3>Busy Phrases</h3>
        <p>Add one per line:</p>
        <textarea name="BusyPhrases">{{range .BusyPhrases}}{{.}}{{end}}</textarea>
        <div class="controls">
          <ul>
            <li class="delete"><a href="#"><span class="material-symbols-outlined">delete</span> Delete {{.Name}}</a></li>
            <li class="save"><button><span class="material-symbols-outlined">save</span>Save {{.Name}}</button></li>
          </ul>
        </div>
      </div>
    </form>
{{end}}