{{define "title"}}Viewing: {{.Name}} | GamePrompt Character{{end}}
{{define "main"}}
    <div class="character">
 
      <h2><span class="material-symbols-outlined">smart_toy</span> {{.Name}}</h2>
      <p class="character-version">v{{.Version}}</p>

      <div class="controls">
        <ul>
          <li class="edit"><a href="/character/edit/{{.Name}}"><span class="material-symbols-outlined">edit</span> Edit {{.Name}}</a></li>
          <li class="delete"><a href="character/delete/{{.Name}}"><span class="material-symbols-outlined">delete</span> Delete {{.Name}}</a></li>
        </ul>
      </div>

      <h3>Prompt Prefix</h3>
      <p class="prompt">{{.PromptPrefix}}</p>
      
      <h3>Prompt Suffix</h3>
      <p class="prompt">{{.PromptSuffix}}</p>
      
      <h3>Loading Phrases</h3>
      <ol>
        {{range .LoadingPhrases}}
        <li>{{.}}</li>
        {{end}}
      </ol>
      
      <h3>Busy Phrases</h3>
      <ol>{{range .BusyPhrases}}
        <li>{{.}}</li>
        {{end}}
      </ol>
    </div>
{{end}}