* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Google Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #333;
  color: #666;
  min-width: 1000px;
}

header {
  height: 3em;
  line-height: 3em;
  padding: 1em;
  color: #eee;
}

h1 {
  float: left;
  margin-right: 1em;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 1.5em;
}

nav li .material-symbols-outlined {
  vertical-align: text-bottom;
}

main {
  min-height: 30em;
  padding: 2em;
  background-color: white;
  font-size: 10pt;
  line-height: 150%;
}

main hr {
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 0.25em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
  vertical-align: middle;
}

footer {
  height: 2em;
  line-height: 2em;
  padding: 1em;
  font-size: small;
  text-align: center;
}

input[type="search"] {
  font-size: 10pt;
  color: #333;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  padding: 0.5em 0.5em 0.5em 1em;
  border: solid 1px rgb(175, 175, 175);
  width: 30em;
  margin-bottom: 2em;
}

input[type="search"]:hover {
  border-color: rgb(100, 100, 100);
  -webkit-transition: border 0.25s;
}

input[type="search"]:focus {
  border-color: rgb(50, 150, 250);
  -webkit-transition: border 0.25s;
  outline: none;
}

button {
  background:none!important;
  border:none; 
  padding:0!important;
  color: inherit;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.right-column {
  float: right;
  margin-left: 2em;
  padding-left: 1em;
  border-left: solid 2px #999;
  width: 20em;
}

.right-column ul {
  margin-left: 2em;
}

.right-column p,
li {
  margin-bottom: 0.5em;
}

.left-column {
  float: left;
  margin-right: 2em;
  padding-right: 1em;
  border-right: solid 2px #999;
  width: 20em;
}

.material-symbols-outlined {
  /* vertical-align: text-bottom; */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.character {
  clear: both;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.character h2 {
  height: 3em;
  line-height: 3em;
  font-size: 1.5em;
  float: left;
}

.character h2 .material-symbols-outlined {
  vertical-align: text-bottom;
}

.character-version {
  height: 4.5em;
  line-height: 4.5em;
  float: left;
  margin-left: 1em;
  color:#999
}

.character h3 {
  margin-top: 1em;
  clear: both;
}

.character .prompt {
  margin: .5em 0;
  padding: 1em;
  border: solid 1px lightgray;
  border-radius: .5em;
  background-color: #fafafa;
  font-family: "Google Sans Mono", "SF Mono", monospace;
}

.character input[type=text] {
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  font-family: "Google Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #666;
  font-weight: 700;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 10em;
  margin-top: 1em;
  padding: 1em;
  font-family: "Google Sans Mono", "SF Mono", monospace;
  box-sizing: border-box;
  border: solid 1px gray;
  color: #333;
}

.character-card {
  text-align: center;
  width: 7em;
  overflow: hidden;
  height: 6em;
  border: solid 1px lightgray;
  border-radius: .5em;
  padding: 1em;
  margin: 1em;
  float:left;
}

.card-info {
  margin-top: 1em;
  font-size: smaller;
  color: #999;
}

.character ol {
  margin: .5em;
}

.character li {
  margin-left: 1em;
}

.character .controls {
  /* background-color: red; */
  float: right;
  height: 4.5em;
  line-height: 4.5em;
}

.character .controls .material-symbols-outlined {
  vertical-align: middle;
}

.character .controls li {
  display: inline;
  background-color: #fafafa;
  border: solid 1px lightgray;
  border-radius: .5em;
  padding: 1em;
}

.character .controls li.edit:hover {
  background-color: rgba(0, 0, 255, 0.75);
  color: white;
}

.character .controls li.edit:active {
  background-color: rgba(0, 0, 255, 1);
  color: white;
}

.character .controls li.delete:hover {
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
}

.character .controls li.delete:active {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.character .controls li.save:hover {
  background-color: rgba(0, 128, 0, 0.75);
  color: white;
}

.character .controls li.save:active {
  background-color: rgba(0, 128, 0, 1);
  color: white;
}