// Any output from the Makefile:
gameprompt-server-*

// Any output from go build:
gameprompt-server
gameprompt-client
dir-tester
scaler

// Any binaries:
llama-linux-amd64-static-upx
vmtouch-linux-amd64-static-upx

// Accidental Redis invocation:
*.rdb

// Local stuff:
local-vars.sh

// Logs:
*.log